<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Aula Museu - Sa Balena</title>
  <link rel="stylesheet" href="../css/sass_styles.css">
  <link rel="stylesheet" href="../css/sass_iniciar_sessio.css">
</head>
<body>
  <header>
    <nav class="menu">
      <nav class="logo-container-header">
        <a href="../index.html" class="logo-a">
          <img src="../assets/logoBalenaFonsFosc.png" alt="logo icona">
        </a>
      </nav>


      <nav class="pages-nav-bar" id="pages-nav-bar">
        <a href="../index.html" class="inici-bar">
          <img src="../assets/icons/home.png" alt="inici icona" class="icon">
          <p>Inici</p>
        </a>

        <a href="" class="historia-bar">
          <img src="../assets/icons/historia.png" alt="historia icona" class="icon">
          <p>Història</p>
        </a>

        <a href="../views/el_proces.html" class="proces-bar">
          <img src="../assets/icons/el_proces.png" alt="proces icona" class="icon">
          <p>El procés</p>
        </a>

        <a href="../src/noticies.html" class="noticies-bar">
          <img src="../assets/icons/news.png" alt="noticies icona" class="icon">
          <p>Notícies</p>
        </a>

        <a class="al-voltant-bar" onclick="displayPagesMenu('submenu-nav-bar')">
          <img src="../assets/icons/al_voltant.png" alt="Al voltant de la balena icona" class="icon">
          <p>Al voltant de la balena</p>
          <img src="../assets/icons/display_right.png" alt="Al voltant de la balena fletxa dreta" class="icon">
        </a>
      </nav>

      <nav class="submenu-nav-bar" id="submenu-nav-bar">
  
        <a href="../views/fitxes_tecniques.html" class="fitxes-bar">
          <img src="../assets/icons/fitxes_tec.png" alt="Fitxes tècniques icona" class="icon">
          <p>Fitxes tècniques</p>
        </a>

        <a href="" class="altres-bar">
          <img src="../assets/icons/altres_act.png" alt="Altres activitats icona" class="icon">
          <p>Altres activitats</p>
        </a>
      </nav>

      <div class="right_header">
      <nav class="pages-container-header">
      <a class="nav-bar-icon"  onclick="displayPagesMenu('pages-nav-bar')"> <!-- el id de la pagina como parametro-->
        <img src="../assets/icons/menu.png" alt="Menu icon" class="icon">
      </a>
        
 
      </nav>
        
      <nav class="account-container-header">
      <a class="account-icon" onclick="displayPagesMenu('account-nav-bar')">
        <p>Compte</p>
        <img src="../assets/icons/account.png" alt="account" class="icon">
      </a>
        <nav class="account-nav-bar" id="account-nav-bar">
          <a href="iniciar_sessio.html" class="login-bar">
            <img src="../assets/icons/login.png" alt="login" class="icon">
            <p>Iniciar sessió</p>
          </a>
  
          <a href="" class="logout-bar">
            <img src="../assets/icons/logout.png" alt="logout" class="icon">
            <p>Tancar sessió</p>
          </a>
  
          <a href="" class="user-admin-bar">
            <img src="../assets/icons/admin.png" alt="user-admin" class="icon">
            <p>Administració d'usuaris</p>
          </a>
        </nav>
      </nav>
    </div>

      
    </nav>
  </header>

  <main>
    <div class="titulo">
      <h1>INICIAR SESSIÓ</h1>
    </div>
    
    <section>
      <form action="" id="formLogin">
        <label>Correu electrònic</label>
        <input type="text" name="email" aria-label="Insertar email" autocomplete="email" class="input_form" aria-required="true" id="loginEmail">

        <label>Contrassenya</label>
        <input type="password" name="password" aria-label="Insertar contrassenya" aria-required="true" class="input_form" id="loginPassword">

        <p class="error" id="text_error"></p>

        <input type="submit" value="Acceptar" class="call-to-action-button" aria-label="Acceptar">

        <a class="contrassenya_oblidada_a">Contrassenya oblidada</a>

      </form>

    </section>

    <nav class="accessibility_container">
      <div class="accessibility_access">
        <a onclick="displayPagesMenu('accessibility_menu')">
          <img src="../assets/icons/accessibility.png" alt="Accessibility button" class="img_accessibility">
        </a>
      </div>

      <div class="accessibility_menu" id="accessibility_menu">
        <div class="accessibility_menu_title">
          <h2>Accessibilitat</h2>
        </div>
        <div class="accessibility_menu_content">
          
          <section class="accessibility_configuration">
            <div class="accessibility_config_title">
              <img src="../assets/icons/contrast.png" alt="Contrast configuració">
              <h3>Contrast</h3>
            </div>
            <div class="accessibility_config_buttons">
              <button class="accessibility_button" id="grayscale_button" onclick="toggleContrast('grayscale'); activeButton('grayscale_button')">Escala gris</button>
              <button class="accessibility_button" id="contrast_dark_button" onclick="toggleContrast('contrast_dark');activeButton('contrast_dark_button')">Contrast fosc</button>
              <button class="accessibility_button" id="contrast_light_button" onclick="toggleContrast('contrast_light');activeButton('contrast_light_button')">Contrast fi</button>
              <button class="accessibility_button" id="saturation_high_button" onclick="toggleContrast('saturation_high');activeButton('saturation_high_button')">Saturació alta</button>
              <button class="accessibility_button" id="saturation_low_button" onclick="toggleContrast('saturation_low');activeButton('saturation_low_button')">Saturació baixa</button>
            </div>
          </section>

          <section class="accessibility_configuration">
            <div class="accessibility_config_title">
              <img src="../assets/icons/font.png" alt="Font configuration">
              <h3>Font</h3>
            </div>
            <div class="accessibility_config_ranges">

              <div class="accessibility_range_div">
                <h3>Mida font</h3>
                <input type="range" min="0" max="3" class="accessibility_range" onchange="toggleFontSize()" id="fontSizeRange" value="1">
              </div>

              <div class="accessibility_range_div">
                <h3>Interlineat</h3>
                <input type="range" min="0" max="3" class="accessibility_range" onchange="toggleLineSpacing()" id="lineSpacingRange" value="1">
              </div>

              <div class="accessibility_range_div">
                <h3>Espai paraules</h3>
                <input type="range" min="0" max="3" class="accessibility_range" onchange="toggleWordSpacing()" id="wordSpacingRange" value="0">
              </div>

              <div class="accessibility_range_div">
                <h3>Espai lletres</h3>
                <input type="range" min="0" max="3" class="accessibility_range" onchange="toggleLetterSpacing()" id="letterSpacingRange" value="0">
              </div>

            </div>
            <div class="close_accessibility">
              <input type="button" value="Tancar"  onclick="displayPagesMenu('accessibility_menu')">
            </div>

          </section>

        </div>
      </div>
    </nav>

  </main>

  <footer>
    <p>IES Joan Ramis i Ramis</p>
    <p>Projecte Aula Museu - La Balena</p>
  </footer>
  
  <script src="https://cdnjs.cloudflare.com/ajax/libs/crypto-js/4.1.1/crypto-js.min.js"></script>
  <script src="../js/jquery-3.7.1.min.js"></script>
  <script src="../js/login_functions.js"></script>
  <script src="../js/checkStoredUsers.js"></script>
  <script src="../js/login.js"></script>
  <script src="../js/js_general.js"></script>
</body>
</html>