/* Main */

.call-to-action-button {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-evenly;
  align-items: center;
}

.call-to-action-button > img{
  width: 30px;
}