/*Main */
.balena-3d-div > iframe {
  height: 200px;
  margin: 5px;
  box-shadow: 0px 0px 3px 0px #0e0e0e;
}



/*Media queries*/
/*Desktop*/
@media screen and (min-width: 825px) {
  /*Main*/
  .balena-3d-div > iframe {
    height: 400px;
    width: 90%;
  }




}