/* Colur palette
Orange (#b96a00); Main (nuevo)
White (#f0f0f0): Background 
Black(#0e0e0e): Text 
Yellow (#FFE602): Call to Action 
*/

/*Fuentes descargadas*/
@font-face { /*main*/
  font-family: 'Open Sans';
  src: url('../fonts/OpenSans-VariableFont_wdth,wght.ttf') format('truetype');
}

@font-face { /*Call-to-action*/
  font-family: 'Nunito Sans';
  src: url('../fonts/NunitoSans-VariableFont_YTLC,opsz,wdth,wght.ttf') format('truetype');
}


* {
  padding: 0px;
  margin: 0px;
  font-family: 'Open Sans', 'Lucida Sans', 'Lato';
  color: #0e0e0e;
  text-decoration: none;
  background-color: #f0f0f0;
  list-style-type: none;
}

/*Header*/

header {
  position: fixed;
  width: 100%;
  height: 50px;
  top: 0;
  box-shadow: 1px 10px 5px #0e0e0e;
  z-index: 3;
}


/*Menus desplegables por defecto ocultos*/
.pages-nav-bar, .account-nav-bar {
  display: none;
  position: absolute;
  width: 100%;
  z-index: 3;
  left: 12px;
  top: 60px;
  padding: 5px;
  box-shadow: -2px 3px 4px 0px #0e0e0e;
}



.pages-nav-bar > a, .account-nav-bar > a {
  display: flex;
  align-items: center;
}

.account-nav-bar {
  width: 100%;
  left: 30vW; /*% a anchura de la pagina*/
  
}


/*Iconos del Header*/
.icon, .seccions-icon, .account-icon, .logo-a > img { 
 width: 45px;
}

.account-icon > p {
  display: none;
}

.menu {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  padding: 5px;
}

/* Clase para pages_menu de evento onClick desplegable*/
.show_menu {
  display: flex;
  flex-direction: column;
}

.logo-container-header {
  display: flex;
  justify-content: flex-start;
}

.submenu-nav-bar {
  display: none;
  z-index: 6;
}

.right_header {
  display: flex;
  flex: nowrap;
}


/* Main */

main {
  text-align: center;
  margin-top: 90px; /* sin uso de position relative para que se vea el footer no fixed*/
  display: flex;
  flex-direction: column; /*Contenedores de main verticalmente posicionados*/
}

.titulo {
  margin: 5px 0px 5px 0px;
}

.titulo > h1 { /*El titulo de cada página*/
  font-weight: bold;
  font-size: 30px;
}


section {
  text-align: center;
  display: flex;
  flex-direction: column; 
  flex-wrap: wrap;
}


section > h4, section > p, sections > input[type="button"] {
  margin: 10px 0px 10px 0px;
}

input {
  border-radius: 5px;
}

.subtitulo_principal{
  color: #b96a00;
  font-weight: bold;
  margin: 5px 0px 5px 0px
}


.call-to-action-button {
  margin: 10px 0px 10px 0px;
  background-color: #FFE602;
  border-radius: 3px;
  border-width: 1px;
  padding: 5px 15px 5px 15px;
  font-size: 15px;
  cursor: pointer;
  box-shadow: 0 0 3px 0 #0e0e0e;
  color: #0e0e0e;
  width: 160px;
  height: 45px;
  align-self: center;
  font-family: 'Nunito Sans';
  font-weight: bold;
}

.call-to-action-button:hover {
  box-shadow: 0 0 5px 0 #0e0e0e;
}

/*Footer*/

footer {
  display: block;
  position: relative;
  margin-top: 10px;
  width: 100%;
  height: 70px;
  box-shadow: -1px -1px 4px 0px #0e0e0e;
  bottom: 0;
}

footer > p {
  background-color: #f0f0f0;
}

/*Otros*/
form {
  display: flex;
  flex-direction: column;
  margin: 5px;

}

form > input {
  width: 70%;
  height: 30px;
  align-self: center;
  margin: 5px 0px 5px 0px;
}



/*Media queries*/
/*Desktop*/
@media screen and (min-width: 825px) {
  /*Header*/
  
  .nav-bar-icon { /*El boton desplegable de pages menu*/
    display: none;
  }

  .pages-nav-bar {
    display: flex;
    flex-direction: row;
    justify-content: center;
    height: 40px;
    
    left: 0;
    right: 0;
  }

  .pages-nav-bar > a > p, .account-nav-bar > a > p{
    margin: 0px 50px 0px 50px;
    font-weight: bold;
    transition: 0.3s;
  }

  .pages-nav-bar > a > p:hover, .account-nav-bar > a > p:hover {
    color: #b96a00;
    cursor: pointer;
  }

  .pages-nav-bar > a > img {
    display: none;
  }
  
  .account-nav-bar {
    left: 60vW;
  }

  .account-icon {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;
  }

  .account-icon > p {
    display: block;
    transition: 0.3s;
  }
  
  .account-icon:hover {
    cursor: pointer;
  }

  .account-icon > p:hover {
    display: block;
    color: #b96a00;
  }

  /*Main*/
  main {
    margin-top: 120px;
  }

  .call-to-action-button {
    margin: 10px;
    width: 190px;
    height: 60px;
  }


}