/* sass_common containing css for header, footer and accessibility */
/*Colour variables - Colour palette*/
/*Main, standard text colour*/
/*Secondary. Subtitle font colour, and standard effects colur*/
/* Background colour and header/footer font colour */
/* Call to Action colour */
/*Font variables accessibility*/
/*ACCESSIBILITY CONTRAST*/
.grayscale * {
  color: #0e0e0e;
}
.grayscale .menu, .grayscale footer, .grayscale .pages-nav-bar, .grayscale .account-nav-bar, .grayscale .submenu-nav-bar {
  background-color: #0e0e0e;
}
.grayscale img, .grayscale iframe, .grayscale input {
  filter: grayscale(1);
}

/* Dark contrast mixin*/
.contrast_dark * {
  color: black;
}
.contrast_dark .menu, .contrast_dark footer, .contrast_dark .pages-nav-bar, .contrast_dark .account-nav-bar, .contrast_dark .submenu-nav-bar {
  background-color: black;
}
.contrast_dark img, .contrast_dark iframe, .contrast_dark input {
  filter: contrast(0.6);
}

/* Light contrast mixin*/
.contrast_light * {
  color: #747474;
}
.contrast_light .menu, .contrast_light footer, .contrast_light .pages-nav-bar, .contrast_light .account-nav-bar, .contrast_light .submenu-nav-bar {
  background-color: #747474;
}
.contrast_light img, .contrast_light iframe, .contrast_light input {
  filter: contrast(1);
}

/* High saturation mixin*/
.saturation_high * {
  color: #140808;
}
.saturation_high .menu, .saturation_high footer, .saturation_high .pages-nav-bar, .saturation_high .account-nav-bar, .saturation_high .submenu-nav-bar {
  background-color: #140808;
}
.saturation_high img, .saturation_high iframe, .saturation_high input {
  filter: saturate(5);
}

/* Low saturation mixin*/
.saturation_low * {
  color: #0e0e0e;
}
.saturation_low .menu, .saturation_low footer, .saturation_low .pages-nav-bar, .saturation_low .account-nav-bar, .saturation_low .submenu-nav-bar {
  background-color: #0e0e0e;
}
.saturation_low img, .saturation_low iframe, .saturation_low input {
  filter: saturate(0.2);
}

/*ACCESSIBILITY FONT*/
.font_size_small p, .font_size_small label, .font_size_small span, .font_size_small input {
  font-size: 0.5rem;
}
.font_size_small h1, .font_size_small h2, .font_size_small h3, .font_size_small h4, .font_size_small h5, .font_size_small h6 {
  font-size: 1rem;
}

.font_size_medium p, .font_size_medium label, .font_size_medium span, .font_size_medium input {
  font-size: 1rem;
}
.font_size_medium h1, .font_size_medium h2, .font_size_medium h3, .font_size_medium h4, .font_size_medium h5, .font_size_medium h6 {
  font-size: 1.2rem;
}

.font_size_large p, .font_size_large label, .font_size_large span, .font_size_large input {
  font-size: 1.2rem;
}
.font_size_large h1, .font_size_large h2, .font_size_large h3, .font_size_large h4, .font_size_large h5, .font_size_large h6 {
  font-size: 1.5rem;
}

.font_size_xlarge p, .font_size_xlarge label, .font_size_xlarge span, .font_size_xlarge input {
  font-size: 1.5rem;
}
.font_size_xlarge h1, .font_size_xlarge h2, .font_size_xlarge h3, .font_size_xlarge h4, .font_size_xlarge h5, .font_size_xlarge h6 {
  font-size: 2rem;
}

/*Line spacing*/
.line_spacing_small h1, .line_spacing_small h2, .line_spacing_small h3, .line_spacing_small h4, .line_spacing_small h5, .line_spacing_small h6, .line_spacing_small p, .line_spacing_small label, .line_spacing_small span {
  line-height: 1rem;
}

.line_spacing_medium h1, .line_spacing_medium h2, .line_spacing_medium h3, .line_spacing_medium h4, .line_spacing_medium h5, .line_spacing_medium h6, .line_spacing_medium p, .line_spacing_medium label, .line_spacing_medium span {
  line-height: 1.2rem;
}

.line_spacing_large h1, .line_spacing_large h2, .line_spacing_large h3, .line_spacing_large h4, .line_spacing_large h5, .line_spacing_large h6, .line_spacing_large p, .line_spacing_large label, .line_spacing_large span {
  line-height: 1.5rem;
}

.line_spacing_xlarge h1, .line_spacing_xlarge h2, .line_spacing_xlarge h3, .line_spacing_xlarge h4, .line_spacing_xlarge h5, .line_spacing_xlarge h6, .line_spacing_xlarge p, .line_spacing_xlarge label, .line_spacing_xlarge span {
  line-height: 2rem;
}

/*Word spacing*/
.word_spacing_small h1, .word_spacing_small h2, .word_spacing_small h3, .word_spacing_small h4, .word_spacing_small h5, .word_spacing_small h6, .word_spacing_small p, .word_spacing_small label, .word_spacing_small span, .word_spacing_small input {
  word-spacing: 0rem;
}

.word_spacing_medium h1, .word_spacing_medium h2, .word_spacing_medium h3, .word_spacing_medium h4, .word_spacing_medium h5, .word_spacing_medium h6, .word_spacing_medium p, .word_spacing_medium label, .word_spacing_medium span, .word_spacing_medium input {
  word-spacing: 0.5rem;
}

.word_spacing_large h1, .word_spacing_large h2, .word_spacing_large h3, .word_spacing_large h4, .word_spacing_large h5, .word_spacing_large h6, .word_spacing_large p, .word_spacing_large label, .word_spacing_large span, .word_spacing_large input {
  word-spacing: 1.5rem;
}

.word_spacing_xlarge h1, .word_spacing_xlarge h2, .word_spacing_xlarge h3, .word_spacing_xlarge h4, .word_spacing_xlarge h5, .word_spacing_xlarge h6, .word_spacing_xlarge p, .word_spacing_xlarge label, .word_spacing_xlarge span, .word_spacing_xlarge input {
  word-spacing: 2rem;
}

/*Letter spacing*/
.letter_spacing_small h1, .letter_spacing_small h2, .letter_spacing_small h3, .letter_spacing_small h4, .letter_spacing_small h5, .letter_spacing_small h6, .letter_spacing_small p, .letter_spacing_small label, .letter_spacing_small span, .letter_spacing_small input {
  letter-spacing: 0em;
}

.letter_spacing_medium h1, .letter_spacing_medium h2, .letter_spacing_medium h3, .letter_spacing_medium h4, .letter_spacing_medium h5, .letter_spacing_medium h6, .letter_spacing_medium p, .letter_spacing_medium label, .letter_spacing_medium span, .letter_spacing_medium input {
  letter-spacing: 0.1em;
}

.letter_spacing_large h1, .letter_spacing_large h2, .letter_spacing_large h3, .letter_spacing_large h4, .letter_spacing_large h5, .letter_spacing_large h6, .letter_spacing_large p, .letter_spacing_large label, .letter_spacing_large span, .letter_spacing_large input {
  letter-spacing: 0.3em;
}

.letter_spacing_xlarge h1, .letter_spacing_xlarge h2, .letter_spacing_xlarge h3, .letter_spacing_xlarge h4, .letter_spacing_xlarge h5, .letter_spacing_xlarge h6, .letter_spacing_xlarge p, .letter_spacing_xlarge label, .letter_spacing_xlarge span, .letter_spacing_xlarge input {
  letter-spacing: 0.5em;
}

/*Fuentes descargadas*/
@font-face { /*main*/
  font-family: "Open Sans";
  src: url("../../fonts/OpenSans-VariableFont_wdth,wght.ttf") format("truetype");
}
@font-face { /*Call-to-action*/
  font-family: "Nunito Sans";
  src: url("../../fonts/NunitoSans-VariableFont_YTLC,opsz,wdth,wght.ttf") format("truetype");
}
/*General*/
* {
  padding: 0px;
  margin: 0px;
  font-family: "Open Sans", "Nunito Sans";
  color: #0e0e0e;
  text-decoration: none;
  list-style-type: none;
}

p, label, span {
  font-size: 1rem;
}

h1, h2, h3, h4, h5, h6 {
  font-size: 1.2rem;
}

h1, h2, h3, h4, h5, h6, p, label, span {
  max-width: 700px;
}

/*Header*/
header {
  position: fixed;
  width: 100%;
  height: 50px;
  top: 0;
  right: 0;
  left: 0;
  box-shadow: 0px 2px 4px 0px #0e0e0e;
  z-index: 3;
  background-color: #0e0e0e;
}

/*Menus desplegables por defecto ocultos*/
.pages-nav-bar, .account-nav-bar, .submenu-nav-bar, .accessibility_menu {
  display: none;
  position: absolute;
  width: 100%;
  z-index: 3;
  left: 30px;
  top: 58px;
  padding: 5px;
  box-shadow: 0px 2px 5px #0e0e0e;
  background-color: #0e0e0e;
  color: #f0f0f0;
}

.submenu-nav-bar {
  z-index: 6;
  left: 40vW;
}

.pages-nav-bar > a, .account-nav-bar > a, .submenu-nav-bar > a {
  display: flex;
  align-items: center;
}

.pages-nav-bar > a > p, .account-nav-bar > a > p, .submenu-nav-bar > a > p {
  color: #f0f0f0;
}

.account-nav-bar {
  width: 100%;
  left: 30vW; /*% a anchura de la pagina*/
}

/*Iconos del Header*/
.icon, .seccions-icon, .account-icon, .logo-a > img {
  width: 45px;
}

.icon {
  padding-right: 10px;
}

.account-icon > p {
  display: none;
}

.menu {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  padding: 5px;
  background-color: #0e0e0e;
}

/* Clase para pages_menu de evento onClick desplegable*/
.show_menu {
  display: flex;
  flex-direction: column;
  transition: width 2s;
}

.logo-container-header {
  display: flex;
  justify-content: flex-start;
}

.right_header {
  display: flex;
  flex-wrap: nowrap;
}

/*Accesibility*/
.accessibility_access {
  position: fixed;
  left: 10px;
  bottom: 10px;
  background-color: #0e0e0e;
  border-radius: 10px;
  width: 50px;
  border: 1px solid #f0f0f0;
  z-index: 5;
}

.accessibility_menu {
  position: fixed;
  border: 1px solid #f0f0f0;
  border-radius: 5px;
  z-index: 6;
  left: 0px;
  width: 90vW;
  bottom: 0px;
  top: auto;
  height: 350px;
  background-image: url("../../assets/paper.jpg");
  overflow-y: scroll;
}

.img_accessibility {
  width: 100%;
}

.accessibility_menu_title > h2 {
  background-color: #0e0e0e;
  color: #f0f0f0;
  border-radius: 5px;
}

.accessibility_config_title {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 5px;
}

.accessibility_config_title > img {
  width: 30px;
}

.accessibility_config_buttons {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto;
  justify-items: center;
}

.accessibility_button {
  max-width: 150px;
  min-width: 100px;
  height: 50px;
}

.accessibility_button:hover {
  cursor: pointer;
  opacity: 0.6;
}

.active_button {
  font-weight: bold;
  background-color: #FFE602;
}

.accessibility_config_ranges {
  display: flex;
  flex-direction: column;
}

.accessibility_range_div {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
}

.close_accessibility {
  display: flex;
  justify-content: flex-end;
}

.close_accessibility > input[type=button] {
  padding: 0px 50px;
}

.accessibility_access:hover {
  cursor: pointer;
}

.close_accessibility > input[type=button]:hover {
  cursor: pointer;
}

/*Footer*/
footer {
  display: block;
  position: relative;
  width: 100%;
  height: 70px;
  box-shadow: 1px -1px 4px 0px #0e0e0e;
  bottom: 0;
  background-color: #0e0e0e;
  padding: 5px;
}

footer > p {
  color: #f0f0f0;
}

/*Media queries*/
/*Desktop*/
@media screen and (min-width: 825px) {
  /*Header*/
  .nav-bar-icon { /*El boton desplegable de pages menu*/
    display: none;
  }
  .pages-nav-bar {
    display: flex;
    position: static;
    flex-direction: row;
    justify-content: center;
    height: 40px;
    top: 0;
    width: -moz-max-content;
    width: max-content;
    gap: 4vW;
  }
  .pages-nav-bar > a > p, .account-nav-bar > a > p, .submenu-nav-bar > a > p {
    font-weight: bold;
    transition: 0.3s;
  }
  .pages-nav-bar > a > p:hover, .account-nav-bar > a > p:hover, .submenu-nav-bar > a > p:hover {
    color: #b96a00;
    cursor: pointer;
  }
  .pages-nav-bar > a > img {
    display: none;
  }
  .account-nav-bar {
    left: 60vW;
  }
  .account-icon {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;
  }
  .account-icon > p {
    display: block;
    transition: 0.3s;
    color: #f0f0f0;
  }
  .account-icon:hover {
    cursor: pointer;
  }
  .account-icon > p:hover {
    display: block;
    color: #b96a00;
  }
  /*Accessibility*/
  .accessibility_menu_content {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
  }
  .accessibility_menu {
    height: 75vH;
    width: 60vW;
  }
}/*# sourceMappingURL=sass_common.css.map */