/*Colour variables - Colour palette*/
$colour_black: #0e0e0e;  /*Main, standard text colour*/
$colour_orange_dark: #b96a00; /*Secondary. Subtitle font colour, and standard effects colur*/
$colour_white: #f0f0f0; /* Background colour and header/footer font colour */
$colour_yellow: #FFE602; /* Call to Action colour */

/*Font variables*/

$font_0: 0rem;
$font_0_5: 0.5rem;
$font_1: 1rem;
$font_1_5: 1.2rem;
$font_2: 1.5rem;
$font_2_5: 2rem;

$letter_spacing_0: 0em;
$letter_spacing_0_5: 0.1em;
$letter_spacing_1: 0.3em;
$letter_spacing_1_5: 0.5em;

