<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Aula Museu - Sa Balena</title>
  <link rel="stylesheet" href="../css/styles.css">
  <link rel="stylesheet" href="../css/el_proces.css">
  <script src="../js/script.js"></script>
</head>
<body>
  <header>
    <nav class="menu">

      <nav class="logo-container-header">
        <a href="../index.html" class="logo-a">
          <img src="../assets/logoBalenaFonsClar.png" alt="logo">
        </a>
      </nav>

      <div class="right_header">
      <nav class="pages-container-header">
      <a class="nav-bar-icon"  onclick="displayPagesMenu('pages-nav-bar')"> <!-- el id de la pagina como parametro-->
        <img src="../assets/icons/menu.png" alt="" class="icon">
      </a>
        <nav class="pages-nav-bar" id="pages-nav-bar">
          <a href="../index.html" class="inici-bar">
            <img src="../assets/icons/home.png" alt="inici" class="icon">
            <p>Inici</p>
          </a>
  
          <a href="" class="historia-bar">
            <img src="../assets/icons/home.png" alt="historia" class="icon">
            <p>Història</p>
          </a>
  
          <a href="" class="proces-bar">
            <img src="../assets/icons/el_proces.png" alt="proces" class="icon">
            <p>El procés</p>
          </a>
  
          <a href="" class="noticies-bar">
            <img src="../assets/icons/home.png" alt="noticies" class="icon">
            <p>Notícies</p>
          </a>
  
          <a class="al-voltant-bar" onclick="displayPagesMenu('submenu-nav-bar')">
            <img src="../assets/icons/home.png" alt="al-voltant" class="icon">
            <p>Al voltant de la balena</p>
            <img src="../assets/icons/display_right.png" alt="al-voltant-display" class="icon">
          </a>
        </nav>
        <!--Submenu aparte para no mostrarlo directemente con menu paginas-->
        <nav class="submenu-nav-bar" id="submenu-nav-bar">
  
          <a href="" class="fitxes-bar">
            <img src="../assets/icons/home.png" alt="fitxes-bar" class="icon">
            <p>Fitxes tècniques</p>
          </a>

          <a href="" class="altres-bar">
            <img src="../assets/icons/home.png" alt="altres-bar" class="icon">
            <p>Altres activitats</p>
          </a>
        </nav>
      </nav>
        
      <nav class="account-container-header">
        <a class="account-icon" onclick="displayPagesMenu('account-nav-bar')">
        <img src="../assets/icons/account.png" alt="account" class="icon">
      </a>
      <nav class="account-nav-bar" id="account-nav-bar">
          <a href="../views/iniciar_sessio.html" class="login-bar">
            <img src="../assets/icons/login.png" alt="login" class="icon">
            <p>Iniciar sessió</p>
          </a>
  
          <a href="" class="logout-bar">
            <img src="../assets/icons/home.png" alt="logout" class="icon">
            <p>Tancar sessió</p>
          </a>
  
          <a href="" class="user-admin-bar">
            <img src="../assets/icons/home.png" alt="user-admin" class="icon">
            <p>Administració d'usuaris</p>
          </a>
        </nav>
      </nav>
    </div>

      
    </nav>
  </header>

  <main>
    <div class="titulo">
      <h1>EL PROCÉS</h1>
    </div>

    <h4 class="subtitulo_principal">
      Lorem ipsum, dolor sit amet consectetur adipisicing elit. Distinctio tempora qui nemo modi.
    </h4>
    
    <section>
      <div class="imagenes_portfolio">

        <div> <!-- Cada div de imagen-->
          <img src="../assets/portfolio/img1.png" alt="foto_portfolio">
          <p>Autor: Francisco Pérez</p>
        </div>

        <div> 
          <img src="../assets/portfolio/img2.png" alt="foto_portfolio">
          <p>Autor: Ufe García</p>
        </div>

        <div> 
          <img src="../assets/portfolio/img3.png" alt="foto_portfolio">
          <p>Autor: Ufe García</p>
        </div>

        <div>
          <img src="../assets/portfolio/img4.png" alt="foto_portfolio">
          <p>Autor: Pedro Riveiro</p>
        </div>

      </div>

    </section>


  </main>





    

  <footer>
    <p>IES Joan Ramis i Ramis</p>
    <p>Projecte Aula Museu - La Balena</p>
  </footer>
  <script src="../js/script.js"></script>
</body>
</html>