/*Colour variables - Colour palette*/
$colour_black: #0e0e0e;  /*Main, standard text colour*/
$colour_orange_dark: #b96a00; /*Secondary. Subtitle font colour, and standard effects colur*/
$colour_white: #f0f0f0; /* Background colour and header/footer font colour */
$colour_yellow: #FFE602; /* Call to Action colour */

/*Font size variables*/

$font_size: 15px;

