@media screen and (min-width: 825px)  {

  section > form > input {
    width: 500px; 
    height: 40px;
    margin: 10px;
  }

  section > form > label {
    margin: 10px;
  }

  .contrassenya_oblidada_a:hover {
    text-decoration: underline;
    cursor: pointer;
  }

}